# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gcalcli
gcalcli-darwin.arm64
gcalcli-darwin.x86_64
gcalcli-linux
gcalcli.exe



# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

pkg/version/buildinfo.txt
